<h1>Listing Users</h1>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
<%= link_to 'User SignIn', sign_in_users_path, class: "btn btn-success" %>
<%= link_to 'Posts', posts_path, class: "btn btn-info"%>
   
<table class="table table-hover">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user_path(user) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>