<div class="container">
  <h1 class="text-success">Archives</h1>
  
  <%= link_to 'Back to Posts', posts_path, class: "text-success" %><br>

  <% @posts.each do |post| %>
    <p> 
      Created <%= post.created_at %>
      <br>
      Last Updated <%= post.updated_at %>
    </p>
    
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= post.text %>
    </p>
    
    <p>    
      <%= link_to 'Show', post_path(post) %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  
  <%= link_to 'Back to Posts', posts_path, class: "text-success" %> | 
  <%= link_to 'To Top of Page', archive_posts_path, class: "text-success" %>
</div>
