<div class="container">
  
  <div>
    <h3><strong>Title:</strong></h3>
    <p><%= @post.title %></p>
  </div>
 
  <div>
    <h3><strong>Text:</strong></h3>
    <p><%= @post.text %></p>
  </div>


   <%= link_to 'Edit Post', edit_post_path(@post) %> |
   <%= link_to 'Back to Posts', posts_path %>
   <br>
 
  <h3>Comments</h3>
  <%= render @post.comments %>

  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
  <br>    
  <h3>Tags</h3>
  <%= render @post.tags %>

  <h3>Add Tags</h3>
  <%= render "tags/form" %>
  <br>
</div>